$primary-color: #3292a6;
$primary-color: rgba(50, 146, 156, 0.7);


body {
    margin-top: 90px;
}

.navbar {
    box-shadow: 2px 2px 5px $primary-color;
    background: #fff;
    opacity: 0.9;

    .nav-item {
        font-size: 1.4rem;
        padding-right: 20px;

        .nav-link {
            color: #252525;
        }

        .nav-link:hover {
            color: $primary-color;
        }

    }

    .nav-item:last-child {
        padding-right: 0px;
    }

}


#Showcase-section {
    position: relative;
    background-image: url('../img/mountains.jpg');
    min-height: 600px;



    .primary-overlay {
        background: $primary-color;
        min-height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }
}


#Subscribe-section {
    background: #252525;
}

#Authors-section {
    .row {
        padding-top: 20px;
    }

    i {
        font-size: 25px;
    }

    .card-body:hover {
        background: #17A2B8;
    }

    img {
        margin-top: -50px;
    }
}


#contact-section {
    img {
        padding-top: 129px;
    }
}


@media(max-width: 576px) {
    #Showcase-section {
        h1 {
            font-size: 4rem;
        }
    }
}